<!DOCTYPE HTML>
<html>
		<body style="text-align: center; margin: 0;padding: 0;border: none">
				<table style="width: 100%; max-width: 580px; margin: 0 auto; border-radius: 4px; box-shadow: 0 2px 2px rgba(0,0,0,0.16);text-align:center;font-family:Segoe UI, Arial, Helvetica, sans-serif; border-spacing: 0; color: #2C2C39; margin: 0 auto; background: #ffffff">
					<tr>
						<td>
							<table style="width: 100%; ">
								<tr><td colspan="3" style="height: 60px; padding: 0"></td></tr>
						<tr>
							<td style="width: 10%; padding: 0;"></td>
							<td style="width: 80%; padding: 0; font-size: 30px; font-weight: 900; line-height: 25px;">
								<img style="display: block; margin: 0 auto; width: 172px" src="http://192.168.168.85:3030/UNIMACS_logos.jpg" alt="UNIMACS" title="UNIMACS"/>
								<span style="color: #7367f0;padding-left: 3px">UNIMACS</span>
							</td>
							<td style="width: 10%; padding: 0;"></td>
						</tr>
						<tr><td colspan="3" style="height: 60px"></td></tr>
						<tr>
							<td style="width: 10%; padding: 0;"></td>
							<td style="width: 80%; padding: 0; font-size: 20px; font-weight: bold; line-height: 26px;"><%= title %></td>
							<td style="width: 10%; padding: 0;"></td>
						</tr>
						<tr><td colspan="3" style="height: 30px; padding: 0"></td></tr>
						<tr>
							<td style="width: 10%; padding: 0;"></td>
							<td style="width: 80%; padding: 0; font-size: 16px; line-height: 24px;"><%= text %></td>
							<td style="width: 10%; padding: 0;"></td>
						</tr>
						<tr><td colspan="3" style="height: 30px; padding: 0"></td></tr>
						<tr>
							<td style="width: 10%; padding: 0;"></td>
							<td style="width: 80%; padding: 0;">
									<a href="<%= link %>" style="display: inline-block; vertical-align: top; color: #ffffff !important; width: 275px; max-width: 100%; background: #7367f0; border-radius: 24px; font-size: 14px; line-height: 18px; padding: 13px 16px; font-weight: bold; text-decoration: none !important"><%= button_text %></a>
							</td>
							<td style="width: 10%; padding: 0;"></td>
						</tr>
						<tr><td colspan="3" style="height: 30px; padding: 0"></td></tr>
						<tr>
							<td style="width: 10%; padding: 0;"></td>
							<td style="width: 80%; padding: 0; font-size: 13px; line-height: 19px;"><%= end_text %></td>
							<td style="width: 10%; padding: 0;"></td>
						</tr>
						<tr><td colspan="3" style="height: 60px"></td></tr>
							</table>
						</td>
					</tr>
						
				</table>
		</body>
</html>